Source: hyperbus
Section: text
Priority: optional
Maintainer: Aseman <contact@aseman.org>
Build-Depends:
 debhelper (>= 8.0.0),
 g++ (>= 4:4.7),
 gcc (>= 4:4.7),
 qtbase5-dev (>= 5.2.0),
 qtchooser,
 qt5-qmake,
 qt5-default
Standards-Version: 3.9.5
Homepage: http://aseman.co
Vcs-Git: git://git@github.com:aseman-labs/hyperbus.git
Vcs-Browser: https://github.com/

Package: hyperbus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HyperBus IPC system
 HyperBus is a set of free tools under GPLv3 license, 
 to make connections between your Qt programs. 
 HyperBus is an IPC (Inter Process Communication) 
 system like DBus and Corba systems.

Package: hyperbus-dev
Architecture: all
Depends: hyperbus (>= ${source:Version}), ${misc:Depends}
Description: HyperBus IPC system header files.
 HyperBus is a set of free tools under GPLv3 license, 
 to make connections between your Qt programs. 
 HyperBus is an IPC (Inter Process Communication) 
 system like DBus and Corba systems.
